<!--ブログトップイメージ、使うか検討中-->
<!--<div class="card">-->
<!--  <div class="blog-top-image card-img"></div>-->
<!--  <style>-->
<!--    .blog-top-image {-->
<!--      width: 100%;-->
<!--      max-width: 1200px;-->
<!--      height: 270px;-->
<!--      background-image: url(%= @blog_top_image %>);-->
<!--      background-position: center center;-->
<!--    }-->
<!--  </style>-->
<!--  <div class="card-img-overlay">-->
<!--    <h5 class="card-title">Card title</h5>-->
<!--    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--    <p class="card-text">Last updated 3 mins ago</p>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2 class=""><%= @blog.title %></h2>
      <div class="d-flex justify-content-end align-items-end flex-nowrap">
        <p>
          <span>To <%= @blog.destination %>
            <% case @blog.category %>
            <% when "ハイク" %>
              <i class="fas fa-hiking fa-2x"></i>
            <% when "自転車" %>
              <i class="fas fa-bicycle fa-2x"></i>
            <% when "オートバイ" %>
              <i class="fas fa-motorcycle fa-2x"></i>
            <% end %>
          </span>
        </p>
        <p class="ml-3">出発日 <%= @blog.departed_date %></p>
      </div>

      <% if @packing %>
        <div class="text-right">
          <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            持っていったパッキング
          </button>
          <div class="collapse" id="collapseExample">
            <div class="d-flex justify-content-end">
              <%= render 'packings/card_packing', packing: @packing %>
            </div>
          </div>
        </div>
      <% end %>
      <%=raw @blog.content %>
    </div>
  </div>
</div>


