<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <!--パッキング画像が登録されていればその画像、登録されていなければno_imageを表示-->
      <% if packing.packing_img.present? %>
        <%= image_tag packing.packing_img.thumb.url, class: "card-img-top" %>
      <% else %>
        <%= image_tag "no_images/no_image_packing.jpg", class: "card-img-top" %>
      <% end %>
      <!--お気に入りボタン-->
      <div class="card-img-overlay">
        <%= render 'favorites/btn_packing', packing: packing %>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <small class="text-muted">weight <%= Item.packing_items(packing).sum(:weight) %> g</small>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= link_to packing.name, packing_path(packing) %></h5>
        <!--パッキング説明が一定数を超えていた場合、以降は表示しない-->
        <p class="card-text"><%= packing.description[0, 45] %><%= " .." if packing.description.length > 50 %></p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row flex-nowrap overflow-auto">
    <% Item.public_items.packing_items(packing).each do |item| %>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <%= render 'items/card_item_img', item: item %>
      </div>
    <% end %>
  </div>
</div>