<div class='nested-fields card mb-2'>
  <ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between">
    <%= f.label :item_id, "アイテム選択" %>
    <%= f.select :item_id, @selectable_items, class: "form-control" %>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <%= f.label :qty, "数量選択" %>
    <%= f.select :qty, [*(1..10)], selected: 1, class: "form-control" %>
  </li>
  </ul>
</div>
<div class="text-right mt-0 mb-3">
  <%= link_to_remove_association "削除", f, class: "btn btn-sm btn-danger" %>
</div>