<div class="container page-top">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center">プロフィールの編集</h2>
      <%= render 'layouts/errors', obj: @user %>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction %><span> (250字まで)</span>
          <%= f.text_area :introduction,
            placeholder: "例）登山の主な活動エリアは長野です。カブでキャンプツーリングもよく行きます。",
            class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :profile_img %>
          <%= f.file_field :profile_img, class: "form-control" %>
        </div>
        <div class="text-center">
          <%= f.submit "変更を保存", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>