<div class="card h-100">
  <!--card-img-overlayがリンクを覆ってしまうため、カードを2重構造に-->
  <!--<div class="card">-->
    <!--アイテム画像が登録されていればその画像、登録されていなければno_imageを表示-->
    <% if item.item_img.present? %>
      <%= image_tag item.item_img.thumb.url, class: "card-img-top" %>
    <% else %>
      <%= image_tag "no_images/no_image_item_thb.jpg", class: "card-img-top" %>
    <% end %>
    <!--お気に入りボタン-->
  <div class="card-img-overlay">
    <%= render 'favorites/btn_item', item: item %>
  </div>
  <!--</div>-->
  <div class="card-body">
    <%= link_to item.name, item_path(item), class: "card-title fw-bold mb-0" %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <small class="text-muted">weight <%= item.weight %> g</small>
  </div>
</div>