<div class="container page-top">
  <div class="row">
    <div class="col-12 col-md-7 mx-auto mb-4">
      <!--アイテム画像が登録されていればその画像、登録されていなければno_imageを表示-->
      <% if @item.item_img.present? %>
        <%= image_tag @item.item_img.url, class: "img-fluid" %>
      <% else %>
        <%= image_tag "no_images/no_image_item.jpg", class: "img-fluid"  %>
      <% end %>
    </div>
    <div class="col-12 col-md-5 mx-auto">
      <div class="card">
        <div class="card-body">
          <%= render 'tags/tags', obj: @item %>
          <h4 class="card-title mt-2"><%= @item.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @item.weight %> g</h6>
          <p class="card-text"><%= @item.description %></p>
          <!--アイテムを所有するログインユーザーのみにステータス更新ボタン、編集ページへのリンク、アイテム削除リンクを表示する-->
          <% if user_signed_in? && @item.user_id == current_user.id %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">アイテムステータス</li>
              <li class="list-group-item d-flex justify-content-between">
                <% if @item.is_public? %>
                    <span>公開中</span>
                    <span><!--ステータスを非公開にするリンク-->
                      <%= link_to switch_status_item_path(@item, item: {is_public: false}), method: :patch do %>
                        <i class="fas fa-toggle-on fa-2x"></i>
                      <% end %>
                    </span>
                <% else %>
                    <span>非公開</span>
                    <span><!--ステータスを公開にするリンク-->
                      <%= link_to switch_status_item_path(@item, item: {is_public: true}), method: :patch do %>
                        <i class="fas fa-toggle-off fa-2x	"></i>
                      <% end %>
                    </span>
                <% end %>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <% if @item.has? %>
                    <span>このアイテムを持っている</span>
                    <span><!--ステータスを持っていないにするリンク-->
                      <%= link_to switch_status_item_path(@item, item: {has: false}), method: :patch do %>
                        <i class="fas fa-toggle-on fa-2x"></i>
                      <% end %>
                    </span>
                <% else %>
                  <span>いまはこのアイテムを持っていない</span>
                    <span><!--ステータスを持っているにするリンク-->
                      <%= link_to switch_status_item_path(@item, item: {has: true}), method: :patch do %>
                        <i class="fas fa-toggle-off fa-2x	"></i>
                      <% end %>
                    </span>
                <% end %>
              </li>
              <li class="list-group-item d-flex justify-content-end">
                <!--アイテム内容の編集ページへのリンク-->
                <%= link_to edit_item_path(@item) do %>
                  <i class="fas fa-edit fa-2x ml-3"></i>
                <% end %>
                <!--アイテム削除のリンク-->
                <%= link_to item_path(@item), method: :delete, data: { confirm: "本当に削除しますか？" }  do %>
                  <i class="far fa-trash-alt fa-2x ml-3"></i>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
